:root {
  --blue: #5e72e4;
  --indigo: #5603ad;
  --purple: #8965e0;
  --pink: #f3a4b5;
  --red: #f5365c;
  --orange: #fb6340;
  --yellow: #ffd600;
  --green: #2dce89;
  --teal: #11cdef;
  --cyan: #2bffc6;
  --white: #ffffff;
  --gray: #6c757d;
  --gray-dark: #32325d;
  --light: #ced4da;
  --lighter: #e9ecef;
  --primary: #e14eca;
  --secondary: #f4f5f7;
  --success: #00f2c3;
  --info: #1d8cf8;
  --warning: #ff8d72;
  --danger: #fd5d93;
  --light: #adb5bd;
  --dark: #212529;
  --default: #344675;
  --white: #ffffff;
  --neutral: #ffffff;
  --darker: black;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(34, 42, 66, 0);
}
body {
    background-color:#1e1e2f;
}
a {
  color: #1e1e2f;
  text-decoration: none;
}
a:hover {
  color:#888a91 !important;
  cursor: pointer;
}


/* b {
  color: #1e1e2f;
} */
.navbar-brand {
  display: inline-block;
  padding-top: 0.406813rem;
  padding-bottom: 0.406813rem;
  margin-right: 0.9375rem;
  font-size: 0.99925rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
.logo {
  position: relative;
  padding: 0.5rem 0.7rem;
  /* z-index: 4; */
}

.card {
    margin-bottom: 1rem;
    background-color: #343a40;
    border: 1px solid rgb(75, 73, 73);
    /* width: 50%; */
    box-shadow: rgb(75, 73, 73);
}

.card-title {
    margin-bottom: 0;
}

.col {
    padding: 0 0 0 0;
}

.selector {
    cursor: pointer;
}

/* for testing out a new dashboard */
.btn-secondary {
  opacity: 0.8;
}
/* .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 90px 0 0;
    z-index: 99;
    margin: 15 15 15 15;
  } */
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 11.5rem;
      padding: 0;
    }
  }

  
  @media (min-width: 767.98px) {
    .navbar {
      top: 0;
      height:5px;
      background-color: #1e1e2f;
      position: sticky;
      /* z-index: 999; */
    }
  }
  
  .sidebar .nav-link {
    color: #1e1e2f;
  }
  
  .sidebar .nav-link.active {
    color: #1e1e2f;
  }
  .fa, .fas, .far, .fal, .fad, .fab {
    line-height: 2 !important;
}
.energy-totals {
  margin-bottom: 1rem !important;
  font-weight: 500;
  color: gray !important;
}
.tripple-row {
  height: 300;
}
.chart svg {
  width: 100%; 
  /* min-height: 450px; */
}
.row {
  margin:0 !important;
}
   /* Outer-ring */
  .guage circle:nth-child(1) {
    stroke-width: 5;
    stroke: #2b2b38;
    fill: #434357;
  }
  
  /* Main background */
 .guage circle:nth-child(2) {
    fill:#292941;
    stroke: #1c1c25;
    stroke-width: 5;
  }
  
  /* Circle of the pointer */
 .guage circle:nth-child(3) {
    fill: #2b2b33;
    stroke: #444450;
    stroke-width: 6px;
  }
  /* Main text of the gauge */
 .guage text {
    fill: yellow;
    font-size: 12;
    font-family: 'Comfortaa';
  }
  /* Current value text */
 .guage text:nth-child(1) {
    fill: white;
    font-size: 20;
    font-weight: 300;
    font-family: 'Comfortaa';
  }
  /* Ticks */
 .guage path {
    stroke: #525258;
  } 
  /* Circle */
 .guage path:nth-child(2) {
    fill: #cc2b2b;
    stroke: #741818;
    stroke-width: 2px;
    fill-opacity: .7;
  }
  /* Warning area */
 .guage path:nth-child(3) {
    fill: #1bac16;
    fill-opacity: .7;
  }
  /* Danger area */
 .guage path:nth-child(4) {
    fill: #d7da2c;
    
  }
  .guage path:nth-child(5) {
    fill: #e14e67;
  }

 .guage:hover {
    cursor: pointer;
  }